<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class=container>
<h1 align='center'>Trial Criterias</h1>
<div class="row">
    <div class="col-md-8">
        <form action="/trail" method='post' class="search-form">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="Search for criteria">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
    <div class = "col-md-4">
        <div align='right'><%-nav_render%></div>
    </div>
</div>

<div class="row">
<table class="table table-bordered table-striped">
  <tr>
    <td>id</td>
    <td>identifier</td>
    <td>title</td>
    <td>gender</td>
    <td>min age</td>
    <td>max age</td>
    <td>healthy</td>
    <td>criteria</td>
  </tr>
    <% results.forEach(function(r,index) { %>
    <% if (index%2==0){ %>
    <tr class="info">
    <%} %>
    
    <td><%=r.id%></td>
    <td><a href='/trail/id/<%=r.id%>'><%=r.identifier%></a></td> 
    <td><%=r.brief_title%></td> 
    <td><%=r.gender%></td>
    <td><%=r.minimum_age%></td>
    <td><%=r.maximum_age%></td> 
    <td><%=r.healthy_volunteers%></td> 
    <% if (keywords=="") {%>
    <td><%=r.criteria.substring(0,250)%>...</td></tr>
    <%} else {
        var position = r.criteria.toLowerCase().search(keywords.toLowerCase());
        %>
    <td>...<%=r.criteria.substring(Math.max(position-125,0),position)%><mark><%=r.criteria.substring(position,position+keywords.length)%></mark><%=r.criteria.substring(position+keywords.length,position+keywords.length+125)%>...</td></tr>    
    <%}%>
    </tr> 
    <% }); %>
</table>
</div>
<!--Search Form-->
<h3 align='center'>CS223A Fall 16<h3>
</div>

</body>
</html>
